%br
.back-button
  = link_to home_path do
    = fa_icon 'arrow-left', text: 'Back'
%h1#transition_header Appletree Dentistry
%hr
.row
  %h1.text-center.bold Dental Office For Lease
  .building-info.col-lg-8.col-lg-offset-1
    %h3 Building Info
    %table.table.table-hover
      %thead
        %tr
          %th Level
          %th Square Ft.
          %th Features
      %tbody
        %tr
          %td Main
          %td 1,564
          %td Five large operatories, full laboratory, sterilization room, patient restroom, spacious waiting and reception area.
        %tr
          %td Top
          %td 672
          %td Private office with restroom.
        %tr
          %td Lower
          %td 621
          %td Break room with staff bath and laundry facilities.
        %tr#total
          %td Total
          %td 2,857
          %td
.row
  .features.col-lg-8.col-lg-offset-1
    %h3 Features
    %blockquote
      %ul#features
        %li
          %p
            2,857 total square feet of office space on 4.3 acres (building for lease, property not for sale).
        %li
          %p Landscape view from every room.
        %li
          %p Five-year old equipment provided by Beaverstate Dental in Newberg, Oregon.
        %li
          %p Office is fully equipped.
.row
  .photos.col-lg-8.col-lg-offset-1
    #carousel-generic.carousel.slide{"data-ride" => "carousel"}
      %ol.carousel-indicators
        %li.active{"data-slide-to" => "0", "data-target" => "#carousel-example-generic"}
        %li{"data-slide-to" => "1", "data-target" => "#carousel-generic"}
        %li{"data-slide-to" => "2", "data-target" => "#carousel-generic"}
        %li{"data-slide-to" => "3", "data-target" => "#carousel-generic"}
        %li{"data-slide-to" => "4", "data-target" => "#carousel-generic"}
        %li{"data-slide-to" => "5", "data-target" => "#carousel-generic"}
        %li{"data-slide-to" => "6", "data-target" => "#carousel-generic"}
      .carousel-inner
        .item.active
          %img{:src => image_url('home.jpg')}/
          .carousel-caption
            %h3 Front view of office
        .item
          %img{:src => image_url('about2.jpg')}/
          .carousel-caption
            %h3 Patient waiting area
        .item
          %img{:src => image_url('about.jpg')}/
          .carousel-caption
            %h3 Reception area
        .item
          %img{:src => image_url('inside2.jpg')}/
          .carousel-caption
            %h3 Waiting area
        .item
          %img{:src => image_url('chair.jpg')}/
          .carousel-caption
            %h3 One of five spacious operatories
        .item.vertical
          %img{:src => image_url('contact.jpg')}/
          .carousel-caption
            %h3 Old barn still on property
        .item.vertical
          %img{:src => image_url('barn.jpg')}/
          .carousel-caption
            %h3 1930's barn is seen on property
      %a.left.carousel-control{"data-slide" => "prev", :href => "#carousel-example-generic", :role => "button"}
        %span.glyphicon.glyphicon-chevron-left
      %a.right.carousel-control{"data-slide" => "next", :href => "#carousel-example-generic", :role => "button"}
        %span.glyphicon.glyphicon-chevron-right
.row
  .contact-for-purchase.col-lg-8.col-lg-offset-1
    %h3 Contact:
    %h3
      = fa_icon 'phone', text: '503-620-2185'
    %h3
      = fa_icon 'envelope'
      = mail_to 'drsepp@frontier.com'

