%ul.curtains
  %li#home_top
    %a.curtain-links.curtain-links-active{href: '#home_top'}
    %section#home
      %h1#scroll_message Scroll Down To Hear Our Story
      .home-content
        %img{src: image_url('appletree1.png')}
      .about-office
        %p Apple Tree Dentistry is the home of happy patients! It is our priority to create a friendly and gentle environment while performing excellent oral health care. We understand, for many, going to the dentist can be scary and uncomfortable. We feel it is important to gain trust with our patients by delivering true and honest dentistry. We are focused on the mechanics of oral health care and maintain the importance of educating our patients about their mouth and over all wellness. Our staff cares about people, not just teeth.
        %p  Our services include routine cleanings, exams, radiographs, and oral screenings. We also do all restorative work such as composite fillings, amalgam fillings, crowns, bridges, inlays, onlays, partial dentures, and full dentures. We do refer out for some endodontic needs, orthodontics, oral surgery and implant cases. Dr. Sepp has a full lab in the office where he still enjoys the fabrication of appliances which eliminates the use of an out-of-office lab.
        %p In 2005, Dr. Sepp bought the property where the Lindley farmhouse stood and he renovated the house to meet current medical standards. Some of our patients can still remember visiting the office in their youth when it was an active farm. The coziness of “home” is something everyone feels upon entering and every room looks out to the acreage that provides great viewing of unexpected wildlife. Birds, squirrels, and deer make their visits routinely and the apple trees on the property can be enjoyed by all.
      .home-contact
        = fa_icon 'phone', text: '(503) 620-2185'
  %li#about_top
    %section#about
      .about-content-container
        %p Dr. Toivo T Sepp graduated from Tufts University in Boston, Massachusetts and soon after moved to Oregon where he and his wife raised their family. Dr. Sepp has been providing superb dentistry in the Tigard area for more than 30 years and has established lasting relationships with people in all walks of life. He sees every person he meets as a chance to learn something new and to make a positive impact. Dr. Sepp loves life and always has. He enjoys music of all kinds, people of all kinds, and gets joy out of helping others. One of his passions is building things and fixing things that need it, which is why his way of dentistry is focused on the mechanics of the mouth first. "People eventually will get tired of paying for glitz and glam. Yes, it is important to look swell, but if your mouth is not working properly, then what good will cosmetics do?"
      .doc-image
        %img{src: image_url('doc.jpg')}

  %li#contact_top
    %section#contact
      .map-panel
        %a#show_map{href: '#'}
          = fa_icon 'map-marker', text: 'Toggle Map'
        #map.hidden{:style => "width: 100%; height: 250px;"}
      .details
        %address#contact_info.pull-left
          %strong Appletree Dentistry
          %br
          %span
            16035 SW Pacific Hwy
          %br
          %span
            Tigard, OR 97224
          %br
          = fa_icon 'phone', text: '(503) 620-2185'
          %br
          = fa_icon 'envelope'
          = mail_to 'drsepp@frontier.com'
        .hours.pull-left
          %table.table.table-hover
            %thead
              %tr
                %th.hours_header Day
                %th.hours_header Time
            %tbody
              %tr
                %td Monday
                %td 8:00 AM - 5:00 PM
              %tr
                %td Tuesday
                %td 8:00 AM - 5:00 PM
              %tr
                %td Wednesday
                %td 8:00 AM - 5:00 PM
              %tr
                %td Thursday
                %td 8:00 AM - 5:00 PM
              %tr
                %td Friday
                %td 8:00 AM - 4:00 PM



