%nav.navbar.navbar-fixed-top.navbar-default{role: 'navigation'}
  .container-fluid
    .navbar-header
      %button.navbar-toggle{"data-target" => "#nav-items", 'data-toggle' => 'collapse', type: 'button'}
        %span.sr-only Toggle Navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a{href: '/'}
        #logo.pull-left
          Dr.Toivo Sepp, DMD
        .nav-header
          = link_to "https://www.facebook.com/pages/Apple-Tree-Dentistry/381465318532295", {target: '_blank'} do
            = fa_icon 'facebook-square', text: 'Find Us On ', right: true
    .collapse.navbar-collapse#nav-items.navbar-right
      %ul.nav.navbar-nav
        %li
          %a#home_scroll.page-scroll{:href => '/'} Home
        %li
          %a#about_scroll.page-scroll{:href => '#about_top'} About
        %li
          %a#contact_scroll.page-scroll{:href => '#contact_top'} Contact
        %li
          = link_to("Transition", transition_path, class: 'nav-item transition')
        %li#social_link
          = link_to "https://www.facebook.com/pages/Apple-Tree-Dentistry/381465318532295", {target: '_blank'} do
            = fa_icon 'facebook-square'

